<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="inicioh.css">
</head>
<body>
    <form action="/fun" method="POST">
        <label for="IDusuarios">ID usuario:</label>
        <input type="number" name="IDusuarios" id="IDusuarios"><br><br>
        <label for="cedula">Cedula:</label>
        <input type="number" name="cedula" id="cedula"  required><br><br>
        <label for="nombres">Nombres:</label>
        <input type="text" name="nombres" id="nombres"  required><br><br>
        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" id="apellidos" required><br><br>
        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" required><br><br>
        <label for="EPS">EPS:</label>
        <input type="text" name="EPS" id="EPS"  required><br><br>
        <label for="FP">F.P:</label>
        <input type="text" name="FP" id="FP"  required><br><br>
        <label for="hijos">Numero de hijos:</label>
        <input type="number" name="hijos" id="hijos"  required><br><br>
        <label for="estadocivil">Estado civil:</label>
        <input type="text" name="estadocivil" id="estadocivil"  required><br><br>
        <button  type="submit">Registrar funcionario</button>
    </form>
</body>
</html>